@charset "UTF-8";
/* CSS Document */

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	background: #CCC;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000;
}

#container {
	background: #fff;
	margin: 22px;
	padding: 4px;
}

#header {
	text-align:left;
	margin-left: 22px;
}


#mainContent hr {
	margin-left: 122px;
	height: 1px;
	color: #000000;
	background-color: #000000;
}

#mainContent p {
	float: left;
	margin-left:22px;
	margin-right: 22px;
	margin-bottom: 50px;
}

img {
	border: 0;
}

#footer {
	padding-top: 50px;
	text-align: right;
	height: 100px;
}

#footer img, #footer p {
	float: right;
	border: 0px;
	padding-left: 11px;
}

.grey {
	color: #666;
}

.email {
	text-decoration: underline;
}

.clear {
	clear: both;
}

a {
	color: #ff6633;
}

a:visited {
	color: #000;
}